
* {
    margin: 0;
    padding: 0;
    position: absolute;
}

*:focus {
    outline: none !important;
}

body {
    opacity: 0;
    background: black;
    overflow: hidden;
}

#home {
    background-color: white;
}